@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

body {
  font-family: PT Serif;
  color: #000e;
  background-color: #f5f5f5;
}

.navbar {
  color: #fff !important;
  background-image: linear-gradient(
    to right,
    #0091ff,
    #0080fb,
    #006ef5,
    #005ced,
    #0047e3,
    #0047e3,
    #0047e3,
    #0047e3
  ) !important;
  text-shadow: 0 0 8px #000;
  min-height: 80px;

  font-size: 1rem;
}
.navbar-brand img {
  background: #fffd;
}
.nav-link {
  color: #fffd !important;
  margin-inline: 0.3rem;
  transition: all 0.3s;
  box-sizing: border-box;
  border-bottom: 4px solid #0000;
}

.nav-link:hover {
  color: yellow !important;
}

.homePage {
  background-image: linear-gradient(
    to right,
    #0091ff,
    #0080fb,
    #006ef5,
    #005ced,
    #0047e3,
    #0047e3,
    #0047e3,
    #0047e3
  );
  color: #fff;
  text-shadow: 0 0 8px #000;
  padding-block: 1.5rem;
}

.homePage a {
  color: rgb(255, 250, 92);
  transition: all 0.2s;
}
.homePage a:hover {
  color: rgb(80, 176, 255);
  text-decoration: none;
}

.section1 h3 {
  text-align: center;
  text-transform: uppercase;
  color: #006ef5cc;
  margin-block: 1rem;
  border-inline: 2rem solid;
  border-block: 1px solid;
}

.section1 h4 {
  color: #006ef5;
}
